body {
    font-family: calibri, helvetica, sans-serif;
    width: 98%;
    margin: auto;
    line-height: 1.6em;
    background-color: #f0f2f2;
}

#header {
    background-color: #3b4859;
    padding: 5px 10px;
    color: #f0f2f2;
}

#header a {
    color: #f0f2f2;
    text-decoration: none;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    font-style: italic;
    margin-top: 0px;
}

label {
    font-style: italic;
}

#reportinfo {
    background-color: #6f87a6;
    color: #f0f2f2;
    padding: 5px 10px;
}

#altformat {
    color: #f0f2f2;
    font-style: normal;
}

#content {
    background-color: #f0f2f2;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    text-align: left;
    border-bottom: 2px solid #6f87a6;
    margin-bottom: 20px;
}

th {
    color: #3b4859;
    padding: 10px 8px;
    border-bottom: 2px solid #6f87a6;
    cursor: pointer;
}

td {
    color: #666699;
    padding: 9px 8px 0px 8px;
    vertical-align: middle;
}

tbody tr:hover td {
    background-color: #d0dafd;
    color: #339;
}

a {
    color: #3b4859;
}

#footer {
    background-color: #3b4859;
    color: #f0f2f2;
    padding: 5px 10px;
    margin-top: 20px;
}

#data_info {
    font-style: italic;
}